<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Email error</title>
	<style>
html, body {
	display: grid;
	height: 100%;
	width: 100%;
	place-items: center;
	background: #7EB2DD;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #FFE8D4, #7EB2DD);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #FFE8D4, #7EB2DD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
h1{
color:white
}
</style>

</head>
<body>
<h1>Email gia' in uso</h1>
</body>
</html>